.Row {
	width: 720px;
}

#Content {
	width: 72.03859649122807%;
}

#Panel {
	width: 24.54385964912281%;
}

.ContentColumn {
	margin: 0 0 0 27.96140350877193%;
}

.BreadcrumbsWrapper {
	width: 100%;
}

.Meta.Meta-Discussion {
	overflow: hidden;
	width: 360.67px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Column.PanelColumn .ProfilePhotoMedium {
	width: 51px;
	height: auto;
}

.SiteMenu li:first-child {
	margin-right: 4.21754385964912%;
}

.Button.ApplyButton,.Button.Primary.SignInPopup {
	padding: 10px 14.2px;
}

.ProfilePhotoLarge {
	width: 176.7px;
}

#vanilla_discussion_index .PageTitle h1 {
	padding: 10px 10px 10px 20px;
}

#vanilla_discussion_index .Item.ItemDiscussion {
	padding: 16px 35px 8px 20px;
}

.SiteSearch .InputBox {
	width: 150px!important;
}

.SiteTitle a img {
	float: left;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 176.7px;
	height:95.4px;
}

.SiteMenu li a {
	display: block;
	width: 108px;
	height: 44px;
}

#Head .SiteTitle a {
	width: 176.7px;
}

.Button.ApplyButton,.Button.Primary.SignInPopup {
	width: 30.1%;
}

#Body {
	min-height: 637px;
}

.SiteMenu li:first-child+li+li+li+li+li {
	display: none;
}

.SiteMenu li:first-child+li+li+li {
	display: none;
}

.SiteMenu li:first-child+li {
	margin-right: 25px;
}
.CategoryPhoto {
	width: 51px;
	height: 51px;}